# Java
**/build/
**/.gradle/
**/out/
**/*.iml
**/.idea/

# Node
**/node_modules/
**/.next/
**/dist/
**/.turbo/

# Flutter/Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
